doctype html
html
  head
    title= title
    style(type='text/css').
      html,body{height:100%}body{display: table;margin: 0 auto;font-size:3em;text-align: center}div{text-align:left;display: table-cell;vertical-align: middle}
    
  body
    div
      pre
        |                           /~\
        |                          |oo )   Hello World!
        |                          _\=/_
        |          ___            /  _  \
        |         / ()\          //|/.\|\\
        |       _|_____|_        \\ \_/  ||
        |      | | === | |        \|\ /| ||
        |      |_|  O  |_|        # _ _/ #
        |       ||  O  ||          | | |
        |       ||__*__||          | | |
        |      |~ \___/ ~|         []|[]
        |      /=\ /=\ /=\         | | |
        |_____[_]_[_]_[_]________/_]_[_\____________
